<a href="https://colab.research.google.com/github/bonly/AI/blob/main/train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 环境库

In [ ]:
%pip install akshare --upgrade

In [4]:
import akshare as ak;
import numpy as np
import pandas as pd

# 数据

In [5]:
from pylab import plt
plt.style.use('seaborn-v0_8')
%config InlineBackend.figure_format = 'svg'

In [ ]:
data = ak.stock_zh_a_minute(symbol='sz300188', period='1')

In [ ]:
print(data.tail(10));

In [12]:
data['close'] = pd.to_numeric(data['close']);
data['r'] = np.log(data['close'] / data['close'].shift(1));
data['d'] = np.sign(data['r']);

# 策略

In [15]:
lags = 3

In [16]:
cols = list()
for lag in range(1, lags + 1):
    col = f'lag_{lag}'
    data[col] = data['r'].shift(lag)
    cols.append(col)

代码的作用是在 data 这个 DataFrame 中创建滞后的收益率列。

* 首先，它初始化了一个名为 cols 的空列表，用来存储后面创建的列名。
* 然后，它会循环 lags 次（这里 lags 的值是 3）。
* 在每次循环中，它会根据当前的 lag 值创建一个新的列名，例如 'lag_1', 'lag_2', 'lag_3'。
* 接着，它会在 data DataFrame 中创建一个新的列，列名就是刚刚生成的。这一列的值是 'r' 列（收益率列）向下移动 lag 行得到的结果。这样就创建了包含过去收益率值的列。
* 最后，它将新创建的列名添加到 cols 列表中。

这段代码运行后，data DataFrame 中会增加名为 'lag_1', 'lag_2' 和 'lag_3' 的新列，它们分别包含前 1、2 和 3 个时间段的收益率数据。

In [24]:
print(data.head(10));

                    day    open    high     low  close volume         r  d  \
4   2025-08-05 13:57:00  17.040  17.060  17.030  17.04  86800  0.000000  0
5   2025-08-05 13:58:00  17.050  17.100  17.050  17.09  99500  0.002930  1
6   2025-08-05 13:59:00  17.100  17.100  17.090  17.10  24100  0.000585  1
7   2025-08-05 14:00:00  17.090  17.110  17.080  17.09  37300 -0.000585 -1
8   2025-08-05 14:01:00  17.090  17.110  17.080  17.11  46800  0.001170  1
9   2025-08-05 14:02:00  17.110  17.110  17.080  17.10  68800 -0.000585 -1
10  2025-08-05 14:03:00  17.100  17.110  17.100  17.11  31500  0.000585  1
11  2025-08-05 14:04:00  17.110  17.130  17.100  17.11  69300  0.000000  0
12  2025-08-05 14:05:00  17.110  17.120  17.110  17.11  47500  0.000000  0
13  2025-08-05 14:06:00  17.110  17.120  17.110  17.11  25600  0.000000  0

       lag_1     lag_2     lag_3
4  -0.001759 -0.001171 -0.001170
5   0.000000 -0.001759 -0.001171
6   0.002930  0.000000 -0.001759
7   0.000585  0.002930  0.000000
8  -0.000585  0.000585  0.002930
9   0.001170 -0.000585  0.000585
10 -0.000585  0.001170 -0.000585
11  0.000585 -0.000585  0.001170
12  0.000000  0.000585 -0.000585
13  0.000000  0.000000  0.000585

In [21]:
data.dropna(inplace=True); #删除 DataFrame 中所有包含缺失值（NaN）的行

In [23]:
data['d'] = data['d'].astype(int); #将 data DataFrame 中 'd' 列的数据类型转换为整数